@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import "tailwindcss";

@theme {
    --font-irish: "Irish Grover", serif;
}

@keyframes bounce-letter {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.letter {
  display: inline-block;
}

.group:hover .letter {
  animation: bounce-letter 0.45s ease-in-out;
}