@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    background-color: #110D0D;
}

html,
body,
#root {
    min-height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

@theme {
    --font-irish: "Irish Grover", serif;
    --font-akshar: "Akshar", serif;
}

@keyframes bounce-letter {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.letter {
    display: inline-block;
}

.group:hover .letter {
    animation: bounce-letter 0.45s ease-in-out;
}
