@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

body {
    background-color: #110D0D;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
*::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
#root::-webkit-scrollbar-button,
*::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
#root::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
#root::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    background: #F90301;
    border-radius: 999px;
    border: 2px solid #110D0D;
}

@theme {
    --font-irish: "Irish Grover", serif;
    --font-akshar: "Akshar", serif;
}

@keyframes bounce-letter {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.letter {
    display: inline-block;
}

.group:hover .letter {
    animation: bounce-letter 0.45s ease-in-out;
}

.logout-modal-overlay-in {
    animation: logout-modal-overlay-in 200ms ease-in-out forwards;
}

.logout-modal-overlay-out {
    animation: logout-modal-overlay-out 200ms ease-in-out forwards;
}

.logout-modal-content-in {
    animation: logout-modal-content-in 200ms ease-in-out forwards;
}

.logout-modal-content-out {
    animation: logout-modal-content-out 200ms ease-in-out forwards;
}

@keyframes logout-modal-overlay-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes logout-modal-overlay-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes logout-modal-content-in {
    from {
        opacity: 0;
        transform: translateY(1.5rem) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes logout-modal-content-out {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    to {
        opacity: 0;
        transform: translateY(1.5rem) scale(0.9);
    }
}

.f1-start-light {
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #8F8A8A;
}

.f1-start-light-0 {
    animation-name: f1-start-light-0;
}

.f1-start-light-1 {
    animation-name: f1-start-light-1;
}

.f1-start-light-2 {
    animation-name: f1-start-light-2;
}

.f1-start-light-3 {
    animation-name: f1-start-light-3;
}

.f1-start-light-4 {
    animation-name: f1-start-light-4;
}

@keyframes f1-start-light-0 {

    0%,
    12.6%,
    78.2%,
    100% {
        background-color: #8F8A8A;
        box-shadow: none;
    }

    12.8%,
    78% {
        background-color: #dc2626;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
    }
}

@keyframes f1-start-light-1 {

    0%,
    25.3%,
    78.2%,
    100% {
        background-color: #8F8A8A;
        box-shadow: none;
    }

    25.5%,
    78% {
        background-color: #dc2626;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
    }
}

@keyframes f1-start-light-2 {

    0%,
    38%,
    78.2%,
    100% {
        background-color: #8F8A8A;
        box-shadow: none;
    }

    38.2%,
    78% {
        background-color: #dc2626;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
    }
}

@keyframes f1-start-light-3 {

    0%,
    50.7%,
    78.2%,
    100% {
        background-color: #8F8A8A;
        box-shadow: none;
    }

    50.9%,
    78% {
        background-color: #dc2626;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
    }
}

@keyframes f1-start-light-4 {

    0%,
    63.4%,
    78.2%,
    100% {
        background-color: #8F8A8A;
        box-shadow: none;
    }

    63.6%,
    78% {
        background-color: #dc2626;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
    }
}

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}